<tr>
    <td>@InvoiceSummary.InvNumber</td>
    <td>@InvoiceSummary.SpinvNumber</td>
    <td>@InvoiceSummary.BatchNo</td>
    <td>@InvoiceSummary.SiteNo</td>
    <td>@InvoiceSummary.RetailerCode</td>
    <td>@InvoiceSummary.InvStartDate?.ToString(Common.Constant.DateStringFormat)</td>
    <td>@InvoiceSummary.InvEndDate?.ToString(Common.Constant.DateStringFormat)</td>
</tr>