@page "/bulk-reversals"

@using SmartPower.Common

@if (!string.IsNullOrEmpty(BatchProcessedMessage))
{
    <Toaster AlertClass="@Common.Enumeration.AlertClass.Success.GetEnumerationDescription()" Message="@BatchProcessedMessage"></Toaster>
}

<h2>Reversals Bulk</h2>

@if (BulkReversalSummaryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (DirtyPendingReversals)
    {
        <BulkReversalConfirmation OnClose="CloseDialog" OnContinue="@(async() => await BulkReversal())" InvoiceIds="@InvoiceIds"></BulkReversalConfirmation>
    }

    <div class="row">
        <div class="col-10">
            <BulkReversalList BulkReversals="@BulkReversalSummaryList"></BulkReversalList>
        </div>
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item margin-bottom">
                    <a class="btn btn-primary" href="/csv-export">Export List</a>
                </li>
                <li class="nav-item margin-bottom">
                    <button class="nav-link btn btn-primary" @onclick="@(async() => await ClearList())">Clear List</button>
                </li>
                <li class="nav-item margin-bottom">
                    <button class="nav-link btn btn-primary" @onclick="@(async() => await TestSuppliedInvoices())">Bulk Reversal</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-primary" @onclick="NavigateToBulkReversalInput">Input</button>
                </li>
            </ul>
        </div>
    </div>
}

